@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    color: blueviolet;
    
}

.login-page{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form{
    position: relative;
    background: rgb(149, 199, 149);
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(124, 140, 124,1);
}

.form input{
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    
    
}

.form input.button{
 text-transform: uppercase;
 border: 0;
 background: #4ACF50;
 width: 100%;
 padding: 15px;
 color: #FFFF;
 cursor: pointer;
 outline: 0;
 
}