@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header{
    color: blueviolet;
    
}

.form{
    display: flexbox;
    margin: 0;
    background-color: rgb(193, 223, 185);
}